.main-div{
	border-radius: 8px;
	border: 1px solid black;
    box-shadow: none;
    outline: none;
	width:35%;
}
.box-margin{
	margin:0px 0px 20px 45px;
}
.text-box{
	max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 4px;
    background: #f4f7f8;
    border-radius: 8px;
	border: 1px solid #ccc;
    box-shadow: none;
    outline: none;
}
.disclaimer-link{
    margin-left: 75%;
}
.disclaimer-display{
	display: inline-block;
}
.disclaimer-display label{  
	font-size:1.2em;
	display: block;
	font-weight:bold;
	padding-bottom: 10px;
}
.disclaimer span{
	font-weight: bold;
}
.dropbtn{
	max-width: 500px;
    padding: 10px 20px;
    background: gray;
    margin: 10px auto;
    padding: 4px;
    background: #f4f7f8;
    border-radius: 8px;
	border: 1px solid #ccc;
    box-shadow: none;
    outline: none;
}
